* {
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0;
}


.App {
  
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.title2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.buttonColor {
  background-color: #FFC906;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #FFC906;
  border-radius: 4px;
  transition: all .3s;
  padding: 10px 24px 10px 24px;
}

.buttonColor:hover {
  background-color: #fff;
  text-decoration: underline;
}

.buttonText {
  background-color: #fff;
  font-size: 1rem;
  /* font-weight: 700; */
  border: none;
  border-radius: 4px;
  transition: all .3s;
  padding: 10px 24px 10px 24px;
}

.buttonText:hover {
  background-color: #fff;
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

.App-link {

}

